.idea
.vagrant
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/otus-homework-istio/v17/.suo
/.vs/otus-homework-istio/v17
/.vs/otus-homework-istio/FileContentIndex/read.lock
/.vs/otus-homework-istio/FileContentIndex/f4cca601-65af-43d7-a853-e7d3a5ffe5ae.vsidx
/.vs/otus-homework-istio/FileContentIndex/9fbb0d35-7600-4eba-a5bd-ae047701c49a.vsidx
/.vs/otus-homework-istio/FileContentIndex/7ed7d65b-7860-41d0-ac13-7d7a48507ea2.vsidx
/.vs/otus-homework-istio/FileContentIndex/044ddaef-88be-4527-93f8-47174a045e30.vsidx
/.vs/otus-homework-istio/FileContentIndex
/.vs/otus-homework-istio
